canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 0;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: Verdana, sans-serif;
	background-color: #111;
}

p {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #eee;
	text-shadow: 0 0 2px white;
	margin: 0;
	z-index: 1;
}

p a {
	text-decoration: none;
	color: #aaa;
	font-size: 20px;
}

span {
	display: block;
	font-size: 11px;
	color: #999;
	margin-top: 5px;
}
